 @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

  body {
    background-color: black;
  }

  .container-game {
     width: 1200px;
     height: 800px;

     margin: 20px auto;
   
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .sobre-gamifica {
    left: 5%;

  }

  .sobre-gamificacao {
    right: 5%;
  }

.sobre-gamifica, .sobre-gamificacao {

  /* opacity: 0%; */

  width: 500px;
  height: 600px;

  padding: 40px;

  background-color: #fff;

  border: solid 15px #cf5830;
  border-radius: 30px;

  color: black;
  font-family: "Anta";

  position: absolute;
  top: 10%;

}

.sobre-gamifica h2, .sobre-gamificacao h2{
  margin-bottom: 40px;

  font-size: 30px;
  text-align: center;
}

.sobre-gamifica p, .sobre-gamificacao p {
  font-size: 16px;
  text-align: justify;

  line-height: 2;

}

.card-mesa-a p, .card-mesa-b p, .card-mesa-c p {

  width: 450px;
  height: 400px;

  font-size: 16px;
  text-align: justify;

  line-height: 2;

  }

.card-mesa-a img, .card-mesa-b img, .card-mesa-c img {
  width: 500px;
  height: 300px;

  border-radius: 20px;

  right: 50px;

  position: absolute;

  left: 600px;
  
  top: 150px;

}

.card-mesa-b img {
  width: 500px;
  height: 300px;

  border-radius: 20px;
}

.card-mesa-c img {
  width: 500px;
  height: 300px;

  border-radius: 20px;
}

.card-mesa-a, .card-mesa-b, .card-mesa-c {
  background-color: white;

  border: solid 15px #cf5830;
  border-radius: 30px;

  opacity: 0%;

  position: absolute;

  width: 450px;
  height: 600px;

  padding: 50px;

  color: black;
  font-family: "Anta";

  left: 50px;
}



  

